$dark-colors: (
  a: #000,
  b: #070707,
  c: #0f0f0f,
  d: #171717,
  e: #1f1f1f,
  f: #272727,
  g: #2f2f2f,
  h: #373737,
);

$light-colors: (
  a: #fff,
  b: #efefef,
  c: #dfdfdf,
  d: #cfcfcf,
  e: #bfbfbf,
  f: #afafaf,
  g: #9f9f9f,
  h: #8f8f8f,
  i: #7f7f7f,
);

$accent-colors: (
  a: #77b7a7,
  b: #377767,
);
  